In [1]:
import pandas as pd
import os,glob
import csv
import shutil
import json
import numpy as np
import math
import re
import itertools
from functools import reduce
from pathlib import Path
from collections import Counter
from datetime import datetime,timedelta
abs_file_path = os.path.abspath("./")
import pandas as pd
from datetime import datetime,timedelta
#from .glb_var import glb_var as gb
import itertools as it
from dateutil.relativedelta import *
#from .log_util import log
from fbprophet import Prophet
from datetime import datetime
import subprocess

Importing plotly failed. Interactive plots will not work.

In [2]:
from utils.input_data import InputDataFile
from utils.forecast import Forecast
from utils import log_util

C:\Users\abenav.sankar\Downloads\spotcast (1)(1)\spotcast\app-server\server\resources

In [3]:
##Read Input file
DataPath = "D:/SpotCast/Data/"
dataset = pd.read_csv(DataPath+"Sample_data.csv")

In [4]:
dataset.head()

  Customer Segment Product Category   Region        dt    Sales
0         Consumer        Furniture  Central  1/1/2016   690.77
1         Consumer        Furniture  Central  2/1/2016  5303.17
2         Consumer        Furniture  Central  4/1/2016  1547.77
3         Consumer        Furniture  Central  6/1/2016  3234.12
4         Consumer        Furniture  Central  7/1/2016   205.98

In [5]:
def get_output_paths():
    try:
        basedir = str('D:')
        output_storage = "{basedir}/SpotCast/output_files/".format(basedir=basedir)
        datastore = "data_{file_name}.h5".format(file_name=os.listdir(DataPath)[0][0:len(os.listdir(DataPath)[0])-4])
        output_file_path = os.path.join("{}/{}".format(output_storage, datastore))

        return output_file_path, output_storage

    except Exception as e:
        log_util.log("Error in getting Output Paths:",e)

In [6]:
def json_to_csv(data,filename,output_folder):

    if not os.path.exists('{}/table_csv/'.format(output_folder)):
        os.makedirs('{}/table_csv/'.format(output_folder))
    data_file = open('{}/table_csv/{}.csv'.format(output_folder,filename), 'w')
    csv_writer = csv.writer(data_file)
    count = 0
    for each in data:
        if count == 0:
            header = each.keys()
            csv_writer.writerow(header)
            count += 1
        csv_writer.writerow(each.values())
    data_file.close()

In [7]:
def compare_count(old_data,new_data):

    temp = {}
    temp_new = {}
    count_list = list()
    for each in old_data['tabledata']:
        dim_key = "_".join([each['Dimensions'], each['Drivers']])
        temp[dim_key] = each['Count']
    for each in new_data['tabledata']:
        dim_key = "_".join([each['Dimensions'], each['Drivers']])
        temp_new[dim_key] = each['Count']
    for key in temp_new.keys():
        if key not in temp.keys():
            count = temp_new[key]
            count_list.append(count)
        else:
            if temp_new[key] == 0:
                count = 0
            elif temp[key] == 5:
                count = 0
            else:
                count = temp_new[key] + temp[key]
            temp_new[key] = count
            count_list.append(count)
    incremental = 0
    try:
        for i in new_data['tabledata']:
            i['Count'] = count_list[incremental]
            incremental = int(incremental + 1)
    except IndexError as e:
        log_util.log("-------Error in comparing flag count-------:{}".format(e), 'error')
    return new_data

In [8]:
### Not used ####
def dimension_metric(dataset_id):

    global DIMENSIONS
    dataset = Dataset.query.filter_by(id=dataset_id).first()
    catalog = dataset.metadata_list[0].catalog
    dim_hierarchy = dataset.metadata_list[0].hierarchy['dim_hierarchy']
    DIMENSIONS = [each['display_name'] for each in dim_hierarchy]
    metrics = [{'name': each['business_friendly_name'], "type": "numeric"} for each in catalog if
               each['datatype'] == 'numeric']
    date_col = [{'name': each['business_friendly_name'], "type": "datetime64"} for each in catalog if
                each['datatype'] == 'date']

    return DIMENSIONS,metrics,date_col,dataset.dataset_name,dataset.file_path

In [9]:
## object has to be in dictionary format
def sorted_nicely(l):
    """ Sorts the given iterable in the way that is expected.
    Required arguments:
    l -- The iterable to be sorted.
    """

    convert = lambda text: int(text) if text.isdigit() else text
    alphanum_key = lambda key: [convert(c) for c in re.split('([0-9]+)', key)]
    return sorted(l, key=alphanum_key)

In [10]:
def delete_prev_output_files(path):
    folder = path
    for filename in os.listdir(folder):
        file_path = os.path.join(folder, filename)
        try:
            if os.path.isfile(file_path) or os.path.islink(file_path):
                os.unlink(file_path)
            elif os.path.isdir(file_path):
                shutil.rmtree(file_path)
        except Exception as e:
            print('Failed to delete %s. Reason: %s' % (file_path, e))

In [11]:
def get_change_in_metric(data):
    try:
        actual = data['actual']
        forecast = data['forecast']
        return actual - forecast
    except Exception as e :
        print(e)

def get_percentage_change_in_metric(data):
    try:
        actual = data['actual']
        forecast = data['forecast']
        return ((actual - forecast) / forecast) * 100
    except ZeroDivisionError:
        return 0
    except Exception as e:
        print(e)

def get_percentage_share_change(total_share, current_value):
    try:
        return (current_value / abs(total_share)) * 100
    except ZeroDivisionError :
        return 0
    except Exception as e:
        print(e)

def get_index_vs_fairshare(share_change, dimension_length):
    try:
        return share_change * dimension_length
    except Exception as e:
        print(e)

In [12]:
class DatasetPrepare():

    def prep_data(file_path):
        try:
            # print("Define start", datetime.now())

            #dataset_id = in_data['dataset_id']
            #dimensions, metrics, date_col, dataset_name,file_path = dimension_metric(dataset_id=dataset_id)
            dim_dic, uniq_dic = dict(), dict()
            sort_lst, dimensions, date, metrics = list(), list(), list(), list()
            
            dataframe = pd.read_csv(file_path)
            dataset_name = file_path.split("/")[len(file_path.split("/"))-1].split(".")[0]
            
            for each in dataframe.columns:
                if dataframe[each].dtypes == "object" or dataframe[each].dtypes == "datetime64":
                    try:
                        dataframe[each] = pd.to_datetime(dataframe[each])
                        val = {'name': each, 'type': 'datetime64', 'distinct': len(dataframe[each].unique())}
                        date.append(val)
                    except ValueError:
                        val = {'name': each, 'type': 'object', 'distinct': len(dataframe[each].unique()),
                               'unique_values': [x for x in sorted_nicely(l=list(dataframe[each].unique())) if str(x) != 'nan']}
                        dimensions.append(val)

                elif dataframe[each].dtypes == "int64" or dataframe[
                    each].dtypes == "float64" or dataframe[each].dtypes == "int32" or dataframe[
                    each].dtypes == "float32":
                    val = {'dimension_name': each, 'dimension_type': 'numeric','distinct': len(dataframe[each].unique())}
                    metrics.append(val)
                
                
                
            #dimension_unique_value = [{ i: sorted_nicely(l=list(dataframe[i].unique()))} for i in dimensions]
            #dim = {'dim_distinct':dimensions,"unique_values":dimension_unique_value}
            datatype = {'dimensions':dimensions, 'date': date, 'metrics': metrics,"dataset_name":dataset_name}
            return datatype

        except Exception as e:
            print(e)

In [13]:
Dim_Metric = DatasetPrepare.prep_data(file_path=DataPath+"Sample_data.csv")

In [14]:
def dimension_metric(dataset):

    #global DIMENSIONS
    dataset = Dataset.query.filter_by(id=dataset_id).first()
    catalog = dataset.metadata_list[0].catalog
    dim_hierarchy = dataset.metadata_list[0].hierarchy['dim_hierarchy']
    DIMENSIONS = [each['display_name'] for each in dim_hierarchy]
    metrics = [{'name': each['business_friendly_name'], "type": "numeric"} for each in catalog if
               each['datatype'] == 'numeric']
    date_col = [{'name': each['business_friendly_name'], "type": "datetime64"} for each in catalog if
                each['datatype'] == 'date']

    return DIMENSIONS,metrics,date_col,dataset.dataset_name,dataset.file_path

In [15]:
class Tree(dict):
    def __missing__(self, key):
        value = self[key] = type(self)()
        return value

In [16]:
Dim_Metric

{'dimensions': [{'name': 'Customer Segment',
   'type': 'object',
   'distinct': 4,
   'unique_values': ['Consumer',
    'Corporate',
    'Home Office',
    'Small Business']},
  {'name': 'Product Category',
   'type': 'object',
   'distinct': 3,
   'unique_values': ['Furniture', 'Office Supplies', 'Technology']},
  {'name': 'Region',
   'type': 'object',
   'distinct': 4,
   'unique_values': ['Central', 'East', 'South', 'West']}],
 'date': [{'name': 'dt', 'type': 'datetime64', 'distinct': 48}],
 'metrics': [{'dimension_name': 'Sales',
   'dimension_type': 'numeric',
   'distinct': 2113}],
 'dataset_name': 'Sample_data'}

In [17]:
dimensions = []
for i in Dim_Metric['dimensions']:
    dimensions.append(i['name'])

In [18]:
date = []
for i in Dim_Metric['date']:
    date.append(i['name'])

In [19]:
for i in Dim_Metric['date']:
    print(i['name'])

dt

In [20]:
metrics = []
for i in Dim_Metric['metrics']:
    metrics.append(i['dimension_name'])

In [21]:
class InputDataFile():

    def __init__(self):
        '''
        Global variables are referenced here from the prod environment
        '''
        #self.default_gb = gb[env]()
        #self.output_folder = self.default_gb.output_folder
        #self.Int_id_col = self.default_gb.Int_id_col
        #self.Int_metric_col_prev = self.default_gb.Int_metric_col_prev

    def save_output_to_hdf(table_name,data):
        '''
        Save Output files to hdf files in local system if the file exists in hdf5 format in the datastore
        Input: Table, dataset(csv),dataset_id
        Output: output file in hdf5
        '''
        try:
            basedir = str('D:')
            output_storage = "{basedir}/SpotCast/output_files/".format(basedir=basedir)
            datastore = "data_{file_name}.h5".format(file_name=os.listdir(DataPath)[0][0:len(os.listdir(DataPath)[0])-4])
            #output_storage = "spotcast_datastore/output_files/user_{user_id}/{dataset_id}".format(user_id=user_id,dataset_id=dataset_id)
            #datastore = "user_{user_id}.h5".format(user_id=user_id)

            hdf_path = os.path.join("{}".format(output_storage))

            if os.path.isdir(hdf_path) is False:
                self.create_file_directory(hdf_path)

            if not self.check_if_file_exists(
                    "{hdf_path}/{hdf_store_name}".format(hdf_path=hdf_path, hdf_store_name=datastore)):

                hdf = pd.HDFStore(
                    "{hdf_path}/{hdf_store_name}".format(hdf_path=hdf_path, hdf_store_name=datastore))
                hdf.put(table_name, data, format='table',
                        data_columns=True, index=None)
                hdf.close()
            else:

                data.to_hdf("{hdf_path}/{hdf_store_name}".format(hdf_path=hdf_path, hdf_store_name=datastore),
                            table_name,index=None)
            return True
        except Exception as e:
            print("Exception while saving data-to-hdf")
            return False

    def create_file_directory(path):
        if not os.path.exists(path):
            os.makedirs(path)
            print("Directory ", path, " Created ")
        else:
            print("Directory ", path, " Already Exists")

    def check_if_file_exists(file_path):
        if os.path.exists(file_path):
            return True
        else:
            return False

    def input_data(data,met,date,dimension_list):
        '''
        Creates an input data stream with all possible combinations of groupby and sum operation applied on list of dimensions
        Input : dataset in csv, metric to sum, dimensions_list to group by, date to subset data
        Output : dataframe with possible combinations of grouped by dimension values
        '''
        #logging.info("Path : " + str(data))
        try:
            dimension = dimension_list
            dimension.append(date)
            result = pd.DataFrame()
            subset_list = [list(subset) for i in range(0, len(dimension) + 1) for subset in it.combinations(dimension, i)]
            x2 = [data.groupby(subset)[met].sum() for subset in subset_list  if len(subset) > 0] # grouping by subset of all possible combinations with sales
            x3 = [x.reset_index() for x in x2 ] # resetting index old index as columns and new index as index
            for x in x3:# concatinating empty df with x2
                result = pd.concat([result, x], axis=0, sort=False)
            result = result.dropna(subset=[date])
            #logging.info(result)
            result = result.dropna() #drop NA
            #log('----------Created Dataframe with all possible combinations----------', 'info')
            print('----------Created Dataframe with all possible combinations----------')
            return result
        except Exception as e:
            print(e)
            #log('----------Error in Input Data Function----------:{}'.format(e), 'error')

    def make_identifier(df):
        '''
        Extracts identifier column from the dataset as combination of first and second columns
        Input : Data in csv
        Output : unique identifier column values
        '''
        #logging.info("df : " + str(df))
        try:
            col_list = list(df.columns)
            string_id = df[col_list[0]].str.cat(df[col_list[1:]], sep="_")
            return pd.factorize(string_id)[0]  # --FACTORIZING WITH A NUMBER- FIND unique values
        except Exception as e:
            #log('----------Error in creating identifiers----------:{}'.format(e), 'error')
            print(e)
            
    def combination(results,met,date,dimension):
        '''
        Extracts identifier column from the dataset as combination of first and second columns
        Input : Data in csv
        Output : unique identifier column values
        '''

        try:
            results[Int_id_col] = InputDataFile.make_identifier(results[dimension]) + 1  # CREATING DIM_ID IN RESULT WITH ONLY STRING COLUMNS FROM FULL DATA
            # To create nodes for later usage
            nodes = results.drop([date,met], axis=1).drop_duplicates()

            # To get the nodes in the desired format
            InputDataFile.save_output_to_hdf(table_name="nodes",data=nodes)

            # To create connections for later usage
            result = results[[Int_id_col, date,met]]
            InputDataFile.save_output_to_hdf(table_name="cube",data=result)
            #log('----------Node and Cube dataframes saved to hdf file----------','info')
            print('----------Node and Cube dataframes saved to hdf file----------')
            return result,nodes
        except Exception as e:
            #log('----------Error in Combination Function----------:{}'.format(e), 'error')
            print(e)
            
    def data_preparation(met,date, period,cube):
        '''
        Extracts identifier column from the dataset as combination of first and second columns
        Input : Data in csv
        Output : unique identifier column values
        '''
        try:
            dataset = cube
            tp_data = dataset.pivot(index= date,columns=Int_id_col, values=met) #Reshapes data
            tp_data["date_index"] = pd.to_datetime(tp_data.index)
            # if resample_flag == 1:
            #     tp_data_ = tp_data.resample(period[0],on="date_index").sum()
            #     tp_data_["date_index"] = tp_data_.index.date
            # else:
            tp_data['date_index'] = tp_data['date_index'].dt.date
            tp_data_ = tp_data.sort_values(by="date_index")
            tp_data_ = tp_data_.fillna(0)
            actuals = tp_data_.iloc[len(tp_data_)-2:]
            actuals = actuals.transpose()
            actuals.columns = [Int_metric_col_prev, met]
            actuals = actuals[[met,Int_metric_col_prev]]
            InputDataFile.save_output_to_hdf(table_name="actuals",data=actuals)
            tp_data_=tp_data_.set_index(tp_data_["date_index"]) #set data index using date_index column

            if period[0] == 'MS':
                range = 12
            elif period[0] == 'D':
                range = 28
            elif period[0] == 'W':
                range = 7
            elif period[0] == 'Q':
                range = 4
            elif period[0] == 'Y':
                range = 4

            ini_time_for_now = tp_data_["date_index"].iloc[-1]
            dates = list()
            dates.append(ini_time_for_now)
            for i in dates:
                if period[0] == 'MS':
                    date_range = i + relativedelta(months=+1)
                elif period[0] == 'D':
                    date_range = i + relativedelta(days=+1)
                elif period[0] == 'W':
                    date_range = i + relativedelta(weeks=+1)
                elif period[0] == 'Q':
                    date_range = i + relativedelta(months=+3)
                elif period[0] == 'Y':
                    date_range = i + relativedelta(years=+1)
                dates.append(date_range)
                if len(dates) > range:
                    break
                else:
                    continue
            dates.pop(0)
            df = pd.DataFrame(dates)
            dateappend = tp_data_["date_index"].append(df, ignore_index=False)
            data = tp_data_.join(dateappend, how="outer")
            data=data.sort_values(by="date_index")
            data=data.drop(columns=['date_index'])
            tp_data_ = data.set_axis([*data.columns[:-1], 'Month'], axis=1, inplace=False)
            conv_dates = [date_obj.strftime('%Y-%m-%d') for date_obj in tp_data_['Month']]
            tp_data_['Month'] = conv_dates
            tp_data_=tp_data_.set_index(tp_data_['Month'])
            tp_data_1=tp_data_.drop(columns=['Month'])
            val=range+1
            transposed = tp_data_1.copy()
            tp_data_1.reset_index(inplace = True)
            InputDataFile.save_output_to_hdf(table_name="transposed_actuals",data=tp_data_1)
            transposed.iloc[len(tp_data_1) - val ] = np.NaN
            InputDataFile.save_output_to_hdf(table_name="transposed",data=transposed)
            #logging.info('Data Processed and written')
            #log('----------Transposed dataframe saved to hdf file----------','info')
            return val,ini_time_for_now,tp_data_1,transposed,actuals

        except Exception as e:
            #log('----------Error in Data preparation----------:{}'.format(e), 'error')
            print(e)
            
    def process(dimension_metric, metric, date, period):

        log('------Input Data Processing Started--------','info')
        #dimensions, metrics, date_col, datasetname, file_path = dimension_metric(dataset_id=dataset_id)
        data_ = input_data(data=pd.read_csv('{}'.format(file_path)), met=metrics, date=date,
                dimension_list=dimensions[:3])
        cube_dataset  = combination(results = data_,met=metric,date=date,dimension=dimensions[:3])
        value,actual_date,transposed_actuals ,transposed,actuals= data_preparation(met=metric,date=date, period=period,cube=cube_dataset,user_id=user_id,dataset_id=dataset_id)
        log('-------Input Data Processed and Done---------','info')
        return value,actual_date,transposed_actuals,transposed,actuals

In [22]:
def granularity_check(dataset, date_col,df_dt):
        try:
            date_tolist = list(set(dataset[date_col].values))
            date_tolist_2 = list(set(date_tolist))
            if df_dt is False:
                date_format ='%m/%d/%Y'
            elif df_dt is True:
                date_format = '%Y-%m-%d'
            date_tolist_3 = sorted(date_tolist_2, key=lambda x: datetime.strptime(str(x), date_format))
            dif_day = list()
            for i in range(5):
                dt1 = datetime.strptime(date_tolist_3[i + 1], date_format)
                dt2 = datetime.strptime(date_tolist_3[i], date_format)
                dif = dt1 - dt2
                dif_day.append(dif.days)
            len_dif = len(dif_day)
            prd = list()
            period = list()
            if len_dif == 1:
                prd = check_period(i)
                period.append(prd)
                return period
            elif len_dif > 1:
                for i in dif_day:
                    prd.append(check_period(i))
                res = max(set(prd), key=prd.count)
                period.append(res)
                # print("gran - 5", datetime.now())
        except Exception as e:
            #log_util.log("---------Error in getting latest date ------------:{}".format(e), 'error')
            raise e
        return period

In [23]:
def check_period(dif_day):
        if dif_day == 1:
            period = 'D'
            return period
        elif dif_day > 1 and dif_day <= 7:
            period = 'W'
            return period
        elif dif_day > 26 and dif_day <= 31:
            period = 'MS'
            return period
        elif dif_day > 85 and dif_day <= 95:
            period = 'Q'
            return period
        elif dif_day > 360 and dif_day <= 370:
            period = 'Y'
            return period

In [24]:
#dimension_list= dimensions[:3]
#subset_list = [list(subset) for i in range(0, len(dimension) + 1) for subset in it.combinations(dimension, i)]

In [24]:
df = dataset[dimensions]
col_list = list(df.columns)
string_id = df[col_list[0]].str.cat(df[col_list[1:]], sep="_")
pd.factorize(string_id)[0]

array([ 0,  0,  0, ..., 47, 47, 47], dtype=int64)

In [25]:
results = InputDataFile.make_identifier(dataset[dimensions])

In [26]:
dimensions

['Customer Segment', 'Product Category', 'Region']

In [27]:
dimension = dimensions
dimension.append(date[0])
result = pd.DataFrame()
subset_list = [list(subset) for i in range(0, len(dimension) + 1) for subset in it.combinations(dimension, i)]

In [28]:
subset_list

[[],
 ['Customer Segment'],
 ['Product Category'],
 ['Region'],
 ['dt'],
 ['Customer Segment', 'Product Category'],
 ['Customer Segment', 'Region'],
 ['Customer Segment', 'dt'],
 ['Product Category', 'Region'],
 ['Product Category', 'dt'],
 ['Region', 'dt'],
 ['Customer Segment', 'Product Category', 'Region'],
 ['Customer Segment', 'Product Category', 'dt'],
 ['Customer Segment', 'Region', 'dt'],
 ['Product Category', 'Region', 'dt'],
 ['Customer Segment', 'Product Category', 'Region', 'dt']]

In [29]:
date='dt'
result = pd.DataFrame()
x2 = [dataset.groupby(subset)[metrics].sum() for subset in subset_list  if len(subset) > 0]
x3 = [x.reset_index() for x in x2 ]
for x in x3:# concatinating empty df with x2
    result = pd.concat([result, x], axis=0, sort=False)
result = result.dropna(subset=[date])
#logging.info(result)
result = result.dropna()

In [30]:
result

     Customer Segment     Sales Product Category   Region         dt
0            Consumer    690.77        Furniture  Central   1/1/2016
1            Consumer   1259.92        Furniture  Central   1/1/2017
2            Consumer    726.98        Furniture  Central   1/1/2018
3            Consumer   7368.24        Furniture  Central   1/1/2019
4            Consumer   1818.41        Furniture  Central  10/1/2016
5            Consumer   2254.48        Furniture  Central  10/1/2017
6            Consumer    440.01        Furniture  Central  10/1/2018
7            Consumer   1626.07        Furniture  Central  10/1/2019
8            Consumer     16.73        Furniture  Central  11/1/2017
9            Consumer  38312.01        Furniture  Central  11/1/2018
10           Consumer   5731.02        Furniture  Central  11/1/2019
11           Consumer  13620.81        Furniture  Central  12/1/2016
12           Consumer  13123.74        Furniture  Central  12/1/2017
13           Consumer  18707.27        Furniture  Central  12/1/2018
14           Consumer   7323.44        Furniture  Central  12/1/2019
15           Consumer   5303.17        Furniture  Central   2/1/2016
16           Consumer   3709.43        Furniture  Central   2/1/2017
17           Consumer   5586.94        Furniture  Central   2/1/2018
18           Consumer     20.51        Furniture  Central   2/1/2019
19           Consumer    517.13        Furniture  Central   3/1/2018
20           Consumer   1517.87        Furniture  Central   3/1/2019
21           Consumer   1547.77        Furniture  Central   4/1/2016
22           Consumer    507.76        Furniture  Central   4/1/2017
23           Consumer   2128.82        Furniture  Central   4/1/2018
24           Consumer    286.65        Furniture  Central   5/1/2017
25           Consumer   4603.29        Furniture  Central   5/1/2018
26           Consumer    854.52        Furniture  Central   5/1/2019
27           Consumer   3234.12        Furniture  Central   6/1/2016
28           Consumer    371.47        Furniture  Central   6/1/2017
29           Consumer     43.47        Furniture  Central   6/1/2018
...               ...       ...              ...      ...        ...
2086   Small Business   4814.83       Technology     West   2/1/2016
2087   Small Business    350.03       Technology     West   2/1/2017
2088   Small Business   3144.12       Technology     West   2/1/2018
2089   Small Business   1543.11       Technology     West   2/1/2019
2090   Small Business    899.06       Technology     West   3/1/2016
2091   Small Business   1347.50       Technology     West   3/1/2018
2092   Small Business   3271.72       Technology     West   3/1/2019
2093   Small Business   1800.34       Technology     West   4/1/2016
2094   Small Business   7037.67       Technology     West   4/1/2017
2095   Small Business    305.15       Technology     West   4/1/2018
2096   Small Business   2125.58       Technology     West   4/1/2019
2097   Small Business   1886.97       Technology     West   5/1/2016
2098   Small Business   4559.09       Technology     West   5/1/2017
2099   Small Business   9070.98       Technology     West   5/1/2018
2100   Small Business    750.96       Technology     West   5/1/2019
2101   Small Business    729.14       Technology     West   6/1/2017
2102   Small Business    579.55       Technology     West   6/1/2018
2103   Small Business    417.13       Technology     West   6/1/2019
2104   Small Business   7328.82       Technology     West   7/1/2016
2105   Small Business   3005.30       Technology     West   7/1/2017
2106   Small Business    769.09       Technology     West   7/1/2018
2107   Small Business   1855.97       Technology     West   7/1/2019
2108   Small Business    777.73       Technology     West   8/1/2016
2109   Small Business   2331.04       Technology     West   8/1/2017
2110   Small Business   1332.18       Technology     West   8/1/2018
2111   Small Business  30036.20       Technology     West   8/1/2019
2112   Small Business   4034.69       Technology     West   9/1/2016
2113   Small Business   2934.03       Technology     West   9/1/2017
2114   Small Business  21650.82       Technology     West   9/1/2018
2115   Small Business   5385.69       Technology     West   9/1/2019

[2116 rows x 5 columns]

In [31]:
results= result
dimension= dimensions[:3]
date= 'dt'
met= 'Sales'
Int_id_col = 'dim_id'
result[Int_id_col] = InputDataFile.make_identifier(result[dimension]) + 1  # CREATING DIM_ID IN RESULT WITH ONLY STRING COLUMNS FROM FULL DATA
            # To create nodes for later usage
nodes = result.drop([date,met], axis=1).drop_duplicates()

            # To get the nodes in the desired format
#save_output_to_hdf(table_name="nodes",data=nodes)

            # To create connections for later usage
result = result[[Int_id_col, date,met]]
#save_output_to_hdf(table_name="cube",data=result)
            #log('----------Node and Cube dataframes saved to hdf file----------','info')
print('----------Node and Cube dataframes saved to hdf file----------')

----------Node and Cube dataframes saved to hdf file----------

In [32]:
result

      dim_id         dt     Sales
0          1   1/1/2016    690.77
1          1   1/1/2017   1259.92
2          1   1/1/2018    726.98
3          1   1/1/2019   7368.24
4          1  10/1/2016   1818.41
5          1  10/1/2017   2254.48
6          1  10/1/2018    440.01
7          1  10/1/2019   1626.07
8          1  11/1/2017     16.73
9          1  11/1/2018  38312.01
10         1  11/1/2019   5731.02
11         1  12/1/2016  13620.81
12         1  12/1/2017  13123.74
13         1  12/1/2018  18707.27
14         1  12/1/2019   7323.44
15         1   2/1/2016   5303.17
16         1   2/1/2017   3709.43
17         1   2/1/2018   5586.94
18         1   2/1/2019     20.51
19         1   3/1/2018    517.13
20         1   3/1/2019   1517.87
21         1   4/1/2016   1547.77
22         1   4/1/2017    507.76
23         1   4/1/2018   2128.82
24         1   5/1/2017    286.65
25         1   5/1/2018   4603.29
26         1   5/1/2019    854.52
27         1   6/1/2016   3234.12
28         1   6/1/2017    371.47
29         1   6/1/2018     43.47
...      ...        ...       ...
2086      48   2/1/2016   4814.83
2087      48   2/1/2017    350.03
2088      48   2/1/2018   3144.12
2089      48   2/1/2019   1543.11
2090      48   3/1/2016    899.06
2091      48   3/1/2018   1347.50
2092      48   3/1/2019   3271.72
2093      48   4/1/2016   1800.34
2094      48   4/1/2017   7037.67
2095      48   4/1/2018    305.15
2096      48   4/1/2019   2125.58
2097      48   5/1/2016   1886.97
2098      48   5/1/2017   4559.09
2099      48   5/1/2018   9070.98
2100      48   5/1/2019    750.96
2101      48   6/1/2017    729.14
2102      48   6/1/2018    579.55
2103      48   6/1/2019    417.13
2104      48   7/1/2016   7328.82
2105      48   7/1/2017   3005.30
2106      48   7/1/2018    769.09
2107      48   7/1/2019   1855.97
2108      48   8/1/2016    777.73
2109      48   8/1/2017   2331.04
2110      48   8/1/2018   1332.18
2111      48   8/1/2019  30036.20
2112      48   9/1/2016   4034.69
2113      48   9/1/2017   2934.03
2114      48   9/1/2018  21650.82
2115      48   9/1/2019   5385.69

[2116 rows x 3 columns]

In [33]:
result

      dim_id         dt     Sales
0          1   1/1/2016    690.77
1          1   1/1/2017   1259.92
2          1   1/1/2018    726.98
3          1   1/1/2019   7368.24
4          1  10/1/2016   1818.41
5          1  10/1/2017   2254.48
6          1  10/1/2018    440.01
7          1  10/1/2019   1626.07
8          1  11/1/2017     16.73
9          1  11/1/2018  38312.01
10         1  11/1/2019   5731.02
11         1  12/1/2016  13620.81
12         1  12/1/2017  13123.74
13         1  12/1/2018  18707.27
14         1  12/1/2019   7323.44
15         1   2/1/2016   5303.17
16         1   2/1/2017   3709.43
17         1   2/1/2018   5586.94
18         1   2/1/2019     20.51
19         1   3/1/2018    517.13
20         1   3/1/2019   1517.87
21         1   4/1/2016   1547.77
22         1   4/1/2017    507.76
23         1   4/1/2018   2128.82
24         1   5/1/2017    286.65
25         1   5/1/2018   4603.29
26         1   5/1/2019    854.52
27         1   6/1/2016   3234.12
28         1   6/1/2017    371.47
29         1   6/1/2018     43.47
...      ...        ...       ...
2086      48   2/1/2016   4814.83
2087      48   2/1/2017    350.03
2088      48   2/1/2018   3144.12
2089      48   2/1/2019   1543.11
2090      48   3/1/2016    899.06
2091      48   3/1/2018   1347.50
2092      48   3/1/2019   3271.72
2093      48   4/1/2016   1800.34
2094      48   4/1/2017   7037.67
2095      48   4/1/2018    305.15
2096      48   4/1/2019   2125.58
2097      48   5/1/2016   1886.97
2098      48   5/1/2017   4559.09
2099      48   5/1/2018   9070.98
2100      48   5/1/2019    750.96
2101      48   6/1/2017    729.14
2102      48   6/1/2018    579.55
2103      48   6/1/2019    417.13
2104      48   7/1/2016   7328.82
2105      48   7/1/2017   3005.30
2106      48   7/1/2018    769.09
2107      48   7/1/2019   1855.97
2108      48   8/1/2016    777.73
2109      48   8/1/2017   2331.04
2110      48   8/1/2018   1332.18
2111      48   8/1/2019  30036.20
2112      48   9/1/2016   4034.69
2113      48   9/1/2017   2934.03
2114      48   9/1/2018  21650.82
2115      48   9/1/2019   5385.69

[2116 rows x 3 columns]

In [34]:
data_ = InputDataFile.input_data(data=pd.read_csv('{}'.format(DataPath+"Sample_data.csv")), met=metrics, date=date,
                dimension_list=dimensions[:3])

----------Created Dataframe with all possible combinations----------

In [35]:
data_

     Customer Segment     Sales Product Category   Region         dt
0            Consumer    690.77        Furniture  Central   1/1/2016
1            Consumer   1259.92        Furniture  Central   1/1/2017
2            Consumer    726.98        Furniture  Central   1/1/2018
3            Consumer   7368.24        Furniture  Central   1/1/2019
4            Consumer   1818.41        Furniture  Central  10/1/2016
5            Consumer   2254.48        Furniture  Central  10/1/2017
6            Consumer    440.01        Furniture  Central  10/1/2018
7            Consumer   1626.07        Furniture  Central  10/1/2019
8            Consumer     16.73        Furniture  Central  11/1/2017
9            Consumer  38312.01        Furniture  Central  11/1/2018
10           Consumer   5731.02        Furniture  Central  11/1/2019
11           Consumer  13620.81        Furniture  Central  12/1/2016
12           Consumer  13123.74        Furniture  Central  12/1/2017
13           Consumer  18707.27        Furniture  Central  12/1/2018
14           Consumer   7323.44        Furniture  Central  12/1/2019
15           Consumer   5303.17        Furniture  Central   2/1/2016
16           Consumer   3709.43        Furniture  Central   2/1/2017
17           Consumer   5586.94        Furniture  Central   2/1/2018
18           Consumer     20.51        Furniture  Central   2/1/2019
19           Consumer    517.13        Furniture  Central   3/1/2018
20           Consumer   1517.87        Furniture  Central   3/1/2019
21           Consumer   1547.77        Furniture  Central   4/1/2016
22           Consumer    507.76        Furniture  Central   4/1/2017
23           Consumer   2128.82        Furniture  Central   4/1/2018
24           Consumer    286.65        Furniture  Central   5/1/2017
25           Consumer   4603.29        Furniture  Central   5/1/2018
26           Consumer    854.52        Furniture  Central   5/1/2019
27           Consumer   3234.12        Furniture  Central   6/1/2016
28           Consumer    371.47        Furniture  Central   6/1/2017
29           Consumer     43.47        Furniture  Central   6/1/2018
...               ...       ...              ...      ...        ...
2086   Small Business   4814.83       Technology     West   2/1/2016
2087   Small Business    350.03       Technology     West   2/1/2017
2088   Small Business   3144.12       Technology     West   2/1/2018
2089   Small Business   1543.11       Technology     West   2/1/2019
2090   Small Business    899.06       Technology     West   3/1/2016
2091   Small Business   1347.50       Technology     West   3/1/2018
2092   Small Business   3271.72       Technology     West   3/1/2019
2093   Small Business   1800.34       Technology     West   4/1/2016
2094   Small Business   7037.67       Technology     West   4/1/2017
2095   Small Business    305.15       Technology     West   4/1/2018
2096   Small Business   2125.58       Technology     West   4/1/2019
2097   Small Business   1886.97       Technology     West   5/1/2016
2098   Small Business   4559.09       Technology     West   5/1/2017
2099   Small Business   9070.98       Technology     West   5/1/2018
2100   Small Business    750.96       Technology     West   5/1/2019
2101   Small Business    729.14       Technology     West   6/1/2017
2102   Small Business    579.55       Technology     West   6/1/2018
2103   Small Business    417.13       Technology     West   6/1/2019
2104   Small Business   7328.82       Technology     West   7/1/2016
2105   Small Business   3005.30       Technology     West   7/1/2017
2106   Small Business    769.09       Technology     West   7/1/2018
2107   Small Business   1855.97       Technology     West   7/1/2019
2108   Small Business    777.73       Technology     West   8/1/2016
2109   Small Business   2331.04       Technology     West   8/1/2017
2110   Small Business   1332.18       Technology     West   8/1/2018
2111   Small Business  30036.20       Technology     West   8/1/2019
2112   Small Business   4034.69       Technology     West   9/1/2016
2113   Small Business   2934.03       Technology     West   9/1/2017
2114   Small Business  21650.82       Technology     West   9/1/2018
2115   Small Business   5385.69       Technology     West   9/1/2019

[2116 rows x 5 columns]

In [36]:
cube_dataset  = InputDataFile.combination(results = data_,met=metrics[0],date=date,dimension=dimensions[:3])

Exception while saving data-to-hdf
Exception while saving data-to-hdf
----------Node and Cube dataframes saved to hdf file----------

In [38]:
period = granularity_check(dataset,date,df_dt=False)

In [39]:
Int_metric_col_prev= "metric" + '_prev_week'
value,actual_date,transposed_actuals ,transposed,actuals= InputDataFile.data_preparation(met=metrics[0],date=date, period=period,cube=cube_dataset[0])

Exception while saving data-to-hdf
Exception while saving data-to-hdf
Exception while saving data-to-hdf

C:\Users\abenav.sankar\Anaconda3\envs\SpotCast\lib\site-packages\pandas\core\reshape\merge.py:765: RuntimeWarning: '<' not supported between instances of 'datetime.date' and 'int', sort order is undefined for incomparable objects
  sort=self.sort)

In [40]:
transposed_actuals

,Month,1,2,3,4,5,6,7,8,9,...,39,40,41,42,43,44,45,46,47,48
0,2016-01-01,690.77,5186.98,992.63,0.00,225.36,1112.11,1114.82,535.20,1345.52,...,2286.00,0.00,306.24,2327.89,1003.11,54.98,2411.60,5562.53,0.00,384.22
1,2016-02-01,5303.17,181.43,350.48,9819.63,62.80,84.01,420.18,233.51,4180.60,...,237.62,0.00,1923.90,956.19,32.74,218.72,381.96,2343.88,176.42,4814.83
2,2016-03-01,0.00,1828.22,2614.45,6776.86,419.37,0.00,1370.10,881.32,1497.22,...,5079.39,3722.41,1047.80,433.51,2402.78,476.76,3814.09,975.13,1489.61,899.06
3,2016-04-01,1547.77,11901.21,7413.55,0.00,252.73,395.12,923.90,387.46,1042.54,...,576.39,10194.05,293.69,862.75,14.66,1665.54,0.00,1444.39,367.52,1800.34
4,2016-05-01,0.00,4849.13,2860.05,9383.44,145.42,818.81,768.23,1732.11,0.00,...,0.00,2715.76,6075.51,13420.12,1795.69,699.82,479.79,3534.18,0.00,1886.97
5,2016-06-01,3234.12,3171.32,0.00,212.17,47.40,3044.96,7708.88,875.35,0.00,...,5012.80,1379.91,9322.78,13961.77,1032.36,79.93,1132.89,976.70,264.95,0.00
6,2016-07-01,205.98,318.18,1336.35,6499.87,269.10,51.64,2849.07,987.19,3855.28,...,2848.67,0.00,900.41,1452.90,5083.20,1168.66,1092.58,764.41,8332.91,7328.82
7,2016-08-01,8250.49,3596.03,894.88,7050.19,545.43,10655.13,0.00,399.08,1197.82,...,2815.54,6898.73,1094.63,80.58,460.24,620.79,0.00,2448.33,2875.35,777.73
8,2016-09-01,17.44,5362.72,198.67,668.38,1428.34,216.67,0.00,140.86,0.00,...,0.00,734.74,228.65,129.79,344.87,294.20,951.73,127.22,1348.83,4034.69
9,2016-10-01,1818.41,30706.84,2161.88,7705.12,1148.24,1777.79,2316.26,2139.97,296.76,...,26.66,0.00,15708.53,63327.17,922.35,0.00,0.00,5982.26,1331.22,2433.95
10,2016-11-01,0.00,0.00,0.00,700.41,536.23,0.00,2293.10,3320.60,287.99,...,5587.89,8834.58,1917.07,3906.85,5692.51,626.87,10806.76,7485.80,5062.49,0.00
11,2016-12-01,13620.81,0.00,605.82,1721.24,1529.73,2366.96,1779.14,59.95,1847.40,...,1817.70,3112.13,2598.15,1197.80,67.98,684.54,0.00,3616.90,4223.43,3663.67
12,2017-01-01,1259.92,299.65,1358.02,6882.22,202.49,364.33,2474.62,87.77,0.00,...,115.89,372.55,461.49,1966.59,1081.74,3378.65,842.32,1013.85,2633.71,0.00
13,2017-02-01,3709.43,0.00,1346.00,0.00,1130.11,3864.68,337.24,73.12,1412.19,...,402.97,3145.70,1374.01,390.48,895.37,201.69,7734.54,61.52,607.16,350.03
14,2017-03-01,0.00,2920.42,10.89,897.87,1984.98,607.96,425.16,161.05,0.00,...,0.00,8.61,1289.37,299.21,0.00,385.48,1559.07,190.19,2003.24,0.00
15,2017-04-01,507.76,2670.59,62.60,1365.63,786.89,264.02,1285.34,5508.49,1209.49,...,985.97,8829.05,0.00,1228.70,78.42,530.88,1483.05,1222.93,156.48,7037.67
16,2017-05-01,286.65,4820.94,3950.43,18434.11,902.38,1238.30,1851.27,3376.89,4701.36,...,1734.17,2181.59,25.38,864.23,51.96,2073.09,0.00,638.44,1648.02,4559.09
17,2017-06-01,371.47,12690.11,834.10,125.86,364.18,716.69,4934.72,81.40,6141.23,...,0.00,0.00,352.46,5028.57,1018.29,1381.60,10312.21,2133.78,84.71,729.14
18,2017-07-01,78.62,3397.19,978.41,5660.93,142.84,679.00,1840.43,2117.30,0.00,...,0.00,0.00,1448.53,1071.75,0.00,1921.39,34.17,3195.92,6814.28,3005.30
19,2017-08-01,965.32,8.12,5376.70,284.48,1320.19,1603.43,1321.83,2102.51,696.04,...,1005.38,92.37,5343.59,1387.67,854.43,2615.97,1498.63,613.28,56.82,2331.04
20,2017-09-01,1383.22,2615.60,1467.01,0.00,73.54,4558.87,2240.55,715.86,4431.34,...,668.28,1279.56,1128.47,1248.47,647.41,3322.18,247.40,540.09,2923.86,2934.03
21,2017-10-01,2254.48,3235.26,321.08,1047.19,432.80,1127.21,4256.42,2261.39,4134.87,...,0.00,68.47,2389.46,1947.80,1272.64,6932.90,868.92,1116.28,0.00,444.34
22,2017-11-01,16.73,6329.61,0.00,1775.81,2027.14,7383.28,7998.16,12744.25,12468.04,...,7582.99,4792.93,9771.95,1746.00,843.38,1486.97,1120.75,4269.39,695.07,4611.17
23,2017-12-01,13123.74,7775.95,122.40,401.79,6580.23,187.60,388.42,672.60,215.42,...,521.86,510.46,1271.77,1718.49,121.58,718.03,7966.58,0.00,1129.61,597.63
24,2018-01-01,726.98,4469.73,592.86,31076.40,1044.67,382.79,3795.69,4018.31,8116.60,...,1630.34,1734.25,615.98,261.32,633.64,322.62,3122.89,526.16,0.00,197.72
25,2018-02-01,5586.94,801.04,0.00,6003.18,2027.74,0.00,1992.23,759.55,512.23,...,25.77,0.00,2293.24,5224.59,531.16,152.29,553.65,816.63,0.00,3144.12
26,2018-03-01,517.13,2497.94,0.00,2151.57,1073.60,333.43,4094.10,166.98,0.00,...,0.00,3738.53,183.06,1058.98,2550.30,586.78,442.97,4108.30,9123.92,1347.50
27,2018-04-01,2128.82,15.13,3490.50,0.00,3426.25,131.76,420.63,3097.28,2056.21,...,75.83,10.82,644.99,221.21,432.17,372.50,3442.46,18072.54,1982.76,305.15
28,2018-05-01,4603.29,0.00,425.88,730.27,1952.11,798.28,1840.53,806.31,1782.15,...,161.82,0.00,1021.75,3638.28,128.87,820.99,0.00,2043.69,321.29,9070.98
29,2018-06-01,43.47,544.61,385.37,267.85,15761.91,1833.98,1991.00,4390.66,1625.94,...,0.00,410.35,1110.83,6222.84,671.79,1410.78,242.28,670.23,2434.12,579.55
30,2018-07-01,599.56,0.00,419.59,5603.68,643.74,80.36,160.93,687.11,570.01,...,239.35,3572.03,2725.51,21038.96,828.58,5822.63,0.00,305.67,97.71,769.09
31,2018-08-01,0.00,12784.19,0.00,8555.37,0.00,756.80,2548.73,367.32,246.78,...,354.25,2265.48,6489.90,1926.56,93.55,617.36,926.53,4198.66,0.00,1332.18
32,2018-09-01,334.17,2558.99,0.00,190.90,3671.82,4933.88,405.77,1235.74,2839.99,...,0.00,1252.22,320.20,433.79,4428.80,730.09,0.00,0.00,145.75,21650.82
33,2018-10-01,440.01,0.00,10214.06,3464.81,1353.67,3212.82,986.81,879.46,952.90,...,3630.34,4776.61,3314.66,285.09,817.22,3645.50,1587.43,7668.72,2485.80,1617.68
34,2018-11-01,38312.01,4741.04,14741.01,179.64,1096.79,1064.90,2231.83,29163.94,13444.85,...,5941.60,15397.73,18412.00,1047.86,257.41,3468.32,7815.80,4902.94,11047.44,23733.49
35,2018-12-01,18707.27,604.31,0.00,14737.54,2258.41,7344.68,814.85,6505.09,1272.16,...,1068.22,5938.87,2722.53,4466.56,35.01,9909.34,5547.74,0.00,0.00,0.00
36,2019-01-01,7368.24,69.37,557.01,0.00,1223.12,3709.31,232.89,2682.70,545.67,...,3997.23,614.20,510.78,437.93,1472.29,775.01,303.00,9387.75,1925.93,8166.28
37,2019-02-01,20.51,4970.50,3049.63,7748.36,306.75,40.94,296.10,373.81,768.28,...,1242.08,1469.14,411.98,7701.00,2555.28,2247.75,519.30,4339.03,280.71,1543.11
38,2019-03-01,1517.87,2160.18,1367.44,14375.08,2611.56,2628.62,973.59,1324.69,1123.24,...,3441.73,0.00,2866.16,180.48,696.25,916.51,2660.11,20902.97,4754.09,3271.72
39,2019-04-01,0.00,4995.78,3176.01,6561.58,230.92,4807.70,4390.73,2182.52,750.55,...,607.54,601.62,810.56,14122.21,1371.35,923.52,94.73,741.93,1052.51,2125.58
40,2019-05-01,854.52,222.62,0.00,0.00,340.10,2276.78,2317.51,653.37,2630.83,...,267.70,1928.23,5428.60,2193.69,195.90,5332.13,2382.25,2551.87,88.35,750.96
41,2019-06-01,1362.33,6550.67,1241.62,4607.85,1641.12,841.96,602.59,2752.31,1066.81,...,0.00,1386.39,803.56,5491.94,6218.11,613.81,5096.23,608.17,413.09,417.13
42,2019-07-01,9271.43,11123.07,403.86,13376.03,878.75,1223.32,759.16,790.01,3544.54,...,416.73,1121.39,605.27,2609.10,651.85,3613.53,1250.19,925.98,2469.01,1855.97
43,2019-08-01,7011.80,4614.37,439.45,7890.88,24921.41,5763.37,4151.10,3746.67,9555.44,...,23147.67,5959.31,3955.98,3248.88,2121.46,1988.06,684.81,2297.45,4410.05,30036.20
44,2019-09-01,3183.70,3850.85,4912.13,2826.37,4273.43,4301.58,715.86,2222.28,14974.17,...,4983.31,4996.96,628.25,383.73,125.60,4580.81,3897.07,0.00,97.07,5385.69
45,2019-10-01,1626.07,1830.74,1384.62,21675.39,6473.95,2953.67,1108.60,14212.99,2019.34,...,1356.75,5435.20,3768.51,2230.44,2484.76,1847.32,492.26,17028.26,3840.56,12689.73
46,2019-11-01,5731.02,1737.69,4198.21,3830.33,385.83,5615.07,1390.90,1155.72,1725.80,...,680.61,169.13,20582.88,14820.20,2743.56,456.27,1170.19,90.88,229.40,6388.07
47,2019-12-01,7323.44,1281.55,2983.03,1554.58,1391.94,8612.96,314.37,279.49,3747.72,...,499.23,557.32,3030.60,673.74,1761.10,2465.79,9148.45,28885.07,26628.51,7477.38
48,2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,2020-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,2020-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,2020-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,2020-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,2020-06-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,2020-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,2020-08-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,2020-09-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,2020-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,2020-11-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,2020-12-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

   **Data Preparation Ends here**

In [41]:
actuals

                 Sales metric_prev_week
dim_id
1              7323.44          5731.02
2              1281.55          1737.69
3              2983.03          4198.21
4              1554.58          3830.33
5              1391.94           385.83
6              8612.96          5615.07
7               314.37           1390.9
8               279.49          1155.72
9              3747.72           1725.8
10             1941.74          2390.95
11              277.11          3291.04
12                   0          7219.02
13             26720.1            11731
14             32343.8          8105.13
15              666.83           884.35
16             18236.6          8280.99
17               12449          25055.8
18             9346.02          5213.61
19             3435.17          3786.38
20               10049          3831.44
21             13292.2          28017.8
22             17645.4          4341.68
23             9681.55          3945.11
24             11779.8          3142.34
25             3822.23           989.14
26              608.23          2909.07
27             7481.11                0
28             4383.98          10696.8
29             12176.1          6488.61
30              573.55          8587.14
31             3741.08          1762.69
32             4060.74           854.36
33             2243.33            36823
34              888.33          2981.86
35             8500.19            20189
36                   0          17860.5
37              775.81          10768.1
38             20760.8          35511.7
39              499.23           680.61
40              557.32           169.13
41              3030.6          20582.9
42              673.74          14820.2
43              1761.1          2743.56
44             2465.79           456.27
45             9148.45          1170.19
46             28885.1            90.88
47             26628.5            229.4
48             7477.38          6388.07
date_index  2019-12-01       2019-11-01

In [42]:
def get_latest_date(period,dataset,metric,actuals):

        try:
            actual_out_dataset = actuals
            data_tail = actual_out_dataset.tail(1)
            actual_date = data_tail[metric].tolist()
            date_list = list(dataset['Month'])
            indexPos = [i for i, e in enumerate(date_list) if e == str(actual_date[0])][0]
            indexPos+=1
            actual_out_list = date_list[:indexPos]
            forecasting_out_list = date_list[(indexPos-1):]
            actual_dates_list = format_time(period,actual_out_list)
            forecasting_dates_list = format_time(period,forecasting_out_list)
            format_actual_date = actual_dates_list[-1]
            format_previous_date = actual_dates_list[-2]

        except Exception as e:
            #log_util.log("---------Error in getting latest date ------------:{}".format(e),'error')
            raise e
        return format_actual_date, format_previous_date, actual_dates_list, forecasting_dates_list

In [43]:
def format_time(format,data):

        timekey_list = list()
        if format =="MS":
            for each in data:
                timekey = datetime.strptime(each, "%Y-%m-%d")
                timekey = datetime.strftime(timekey, "%b-%Y")
                timekey_list.append(timekey)
        elif format =="W":
            for each in data:
                timekey = datetime.strptime(each, "%Y-%m-%d")
                timekey = datetime.strftime(timekey, "WK-%W (%b-%Y)")
                timekey_list.append(timekey)

        elif format =="D":
            for each in data:
                timekey = datetime.strptime(each, "%Y-%m-%d")
                timekey = datetime.strftime(timekey, "%Y-%m-%d (%a)")
                timekey_list.append(timekey)
        elif format =="Q":
            for each in data:
                timekey = datetime.strptime(each, "%Y-%m-%d")
                timekey = datetime.strftime(timekey, "Q%Q-%Y")
                timekey_list.append(timekey)
        elif format =="Y":
            for each in data:
                timekey = datetime.strptime(each, "%Y-%m-%d")
                timekey = datetime.strftime(timekey, "%Y")
                timekey_list.append(timekey)
        return timekey_list

In [44]:
latest_date, previous_date,actual_dates_list,forecasting_dates_list=get_latest_date(period[0],transposed_actuals,metrics[0],actuals)
actual_key = str("""{} {}""".format(latest_date, metrics[0]))
previous_key = str("""{} {}""".format(previous_date, metrics[0]))

In [45]:
dataset

     Customer Segment Product Category   Region         dt     Sales
0            Consumer        Furniture  Central   1/1/2016    690.77
1            Consumer        Furniture  Central   2/1/2016   5303.17
2            Consumer        Furniture  Central   4/1/2016   1547.77
3            Consumer        Furniture  Central   6/1/2016   3234.12
4            Consumer        Furniture  Central   7/1/2016    205.98
5            Consumer        Furniture  Central   8/1/2016   8250.49
6            Consumer        Furniture  Central   9/1/2016     17.44
7            Consumer        Furniture  Central  10/1/2016   1818.41
8            Consumer        Furniture  Central  12/1/2016  13620.81
9            Consumer        Furniture  Central   1/1/2017   1259.92
10           Consumer        Furniture  Central   2/1/2017   3709.43
11           Consumer        Furniture  Central   4/1/2017    507.76
12           Consumer        Furniture  Central   5/1/2017    286.65
13           Consumer        Furniture  Central   6/1/2017    371.47
14           Consumer        Furniture  Central   7/1/2017     78.62
15           Consumer        Furniture  Central   8/1/2017    965.32
16           Consumer        Furniture  Central   9/1/2017   1383.22
17           Consumer        Furniture  Central  10/1/2017   2254.48
18           Consumer        Furniture  Central  11/1/2017     16.73
19           Consumer        Furniture  Central  12/1/2017  13123.74
20           Consumer        Furniture  Central   1/1/2018    726.98
21           Consumer        Furniture  Central   2/1/2018   5586.94
22           Consumer        Furniture  Central   3/1/2018    517.13
23           Consumer        Furniture  Central   4/1/2018   2128.82
24           Consumer        Furniture  Central   5/1/2018   4603.29
25           Consumer        Furniture  Central   6/1/2018     43.47
26           Consumer        Furniture  Central   7/1/2018    599.56
27           Consumer        Furniture  Central   9/1/2018    334.17
28           Consumer        Furniture  Central  10/1/2018    440.01
29           Consumer        Furniture  Central  11/1/2018  38312.01
...               ...              ...      ...        ...       ...
2086   Small Business       Technology     West   6/1/2017    729.14
2087   Small Business       Technology     West   7/1/2017   3005.30
2088   Small Business       Technology     West   8/1/2017   2331.04
2089   Small Business       Technology     West   9/1/2017   2934.03
2090   Small Business       Technology     West  10/1/2017    444.34
2091   Small Business       Technology     West  11/1/2017   4611.17
2092   Small Business       Technology     West  12/1/2017    597.63
2093   Small Business       Technology     West   1/1/2018    197.72
2094   Small Business       Technology     West   2/1/2018   3144.12
2095   Small Business       Technology     West   3/1/2018   1347.50
2096   Small Business       Technology     West   4/1/2018    305.15
2097   Small Business       Technology     West   5/1/2018   9070.98
2098   Small Business       Technology     West   6/1/2018    579.55
2099   Small Business       Technology     West   7/1/2018    769.09
2100   Small Business       Technology     West   8/1/2018   1332.18
2101   Small Business       Technology     West   9/1/2018  21650.82
2102   Small Business       Technology     West  10/1/2018   1617.68
2103   Small Business       Technology     West  11/1/2018  23733.49
2104   Small Business       Technology     West   1/1/2019   8166.28
2105   Small Business       Technology     West   2/1/2019   1543.11
2106   Small Business       Technology     West   3/1/2019   3271.72
2107   Small Business       Technology     West   4/1/2019   2125.58
2108   Small Business       Technology     West   5/1/2019    750.96
2109   Small Business       Technology     West   6/1/2019    417.13
2110   Small Business       Technology     West   7/1/2019   1855.97
2111   Small Business       Technology     West   8/1/2019  30036.20
2112   Small Business       Technology     West   9/1/2019   5385.69
2113   Small Business       Technology     West  10/1/2019  12689.73
2114   Small Business       Technology     West  11/1/2019   6388.07
2115   Small Business       Technology     West  12/1/2019   7477.38

[2116 rows x 5 columns]

In [46]:
class Forecasting:
    def __init__(self, dataset_path, dependent_metric, period , frequency , actual_date ,output_folder,transposed_actuals,transposed):
        '''
        :param hdf5_path: Path of the dataset
        :param table_name: Dataset name
        :param catalog: catalog contains information of the columns and values in dataset
        :param dependent_metric: The output variable metric
        :param choosen_dim: The dimension choosen from the user
        :param include_filter: Date filter and value filters
        '''
        self.dataset = dataset_path
        self.dependent_metric = dependent_metric
        self.period = period
        self.frequency = frequency
        self.actual_date = actual_date
        self.output_folder = output_folder
        self.date = ""
        self.transposed_actuals = transposed_actuals
        self.transposed = transposed
        self.input = InputDataFile()
        #self.user_id = user_id
        #self.dataset_id = dataset_id

    def resampling_data(self):
        '''
        Resampling the orginal data by groupby for the given metric

        '''
        # data = pd.read_csv(self.dataset, index_col=0)

        try:
            data = self.dataset
            new_data = data[self.dependent_metric].resample(self.frequency).sum()

        except Exception as e:
            #log('----------Error in Resampling Data function ----------:{}'.format(e), 'error')
            raise e

        return new_data

    def clean_ts(self):
        """
        takes time series as input and returns cleaned time series

        *removes outliers
        *linearly interpolates missing values

        returns time series back
        """
        try:
            ts = self.resampling_data()
            # find the start of the time series
            start_ts = ts[ts.notna()].index[0]
            # find the end of the time series
            end_ts = ts[ts.notna()].index[-1]
            ts = ts.loc[start_ts:end_ts]

            # sets outliers to NaN defined as a point that is 3 deviations away from rolling mean + 3*rolling standard deviation
            ts = ts.where(~(abs(ts) > (ts.rolling(center=False, window=3).mean() + (
                        ts.rolling(center=False, window=3, min_periods=3).std() * 3))), np.nan)
            # linearly interpolate any NaN values
            ts = ts.interpolate()
            # make sure any remaining null values are filled with 0's
            ts = ts.fillna(0)


        except Exception as e:
            #log('----------Error in Clean_ts function ----------:{}'.format(e), 'error')
            raise e

        return ts

    def forecast_prophet(self, ts):
        """forecasts a time series object using FB prophet model (https://facebook.github.io/prophet/)
        Note: forecast_ts returns fitted period values as well as forecasted period values

        if return_df is True need to get results like this:

            tseries, prophet_model, forc_df = forecast_prophet(df['series1'],return_df=True)

            Args:
                ts: time series object
                forecast_periods: periods to forecast for
                changepoint_prior_scale: changepoint value (lower value means trend is more flexible, easier to change)
                freq: frequency of the data ('MS' is Monthly Start could use M for month end)
                return_df: if set to true, returns full forecast dataframe with upper and lower values

            Returns: of f
                 forecast_ts: time seriesitted and forecasted values
                 forecast_df: full forecast dataframe to be used for plotting or for upper/lower conf interval values
                 model: prophet fitted model

        """
        try:
            forecast_periods = self.period
            changepoint_prior_scale = .05
            freq = self.frequency
            return_df = False
            # find the start of the time series
            start_ts = ts[ts.notna()].index[0]
            # find the end of the time series
            end_ts = ts[ts.notna()].index[-1]
            # extract actual time series
            ts = ts.loc[start_ts:end_ts]

            model_ts = ts.reset_index()
            model_ts.columns = ['ds', 'y']

            model = Prophet(changepoint_prior_scale=changepoint_prior_scale)
            model.fit(model_ts)

            future = model.make_future_dataframe(periods=forecast_periods, freq=freq)
            forecast_df = model.predict(future)

            forecast_ts = forecast_df.set_index('ds')['yhat']

            # date range is min of current series to max of all series (we'll filter out dataframe of series we dont want eventually so that we dont have to do this)

            if return_df == False:
                return forecast_ts
        except Exception as e:
            #log('----------Error in Forecast_Prophet function ----------:{}'.format(e), 'error')
            raise e

        return forecast_ts

    def data_manupulation(self):
        '''
        Storing the predicted result in a csv format
        '''
        # output_fc = []
        # data = self.clean_ts()
        # forecasted_series = dask.delayed(self.forecast_prophet)(data)
        # output_fc.append(forecasted_series)

        # total = dask.delayed(output_fc).compute()
        try:
            data = self.clean_ts()

            data.to_csv("{}/actuals_out.csv".format(self.output_folder),header=['Actuals'])

            tseries = self.forecast_prophet(data)

            '''Converting the series data to dataframe with header predicted and storing in the r_outputs folder'''
            tseries.to_csv("{}/pred_out.csv".format(self.output_folder), header = ['Predicted'])
            predicted_result = pd.read_csv("{}/pred_out.csv".format(self.output_folder))

        except Exception as e:
            #log('----------Error in Data manipulation function ----------:{}'.format(e), 'error')
            raise e

        return predicted_result

    def data_ratio_data(self):
        '''
        getting the actual sum of the last row of the actual data to get the ratio
        '''
        try:
            predicted_result = self.data_manupulation()
            combination_data = self.transposed_actuals
            self.date = self.check_dates()
            last_row_actual = combination_data.loc[combination_data['Month'] == self.date]
            last_row_actual = last_row_actual.iloc[-1].tolist()
            total_sum_actual = sum(last_row_actual[1:])

        except Exception as e:
            #log('----------Error in data_ratio_data function ----------:{}'.format(e), 'error')
            raise e
        return total_sum_actual, last_row_actual[1:], predicted_result

    def find_ratios_actual(self):
        '''
        Getting the actual ratio from the actual data
        '''
        try:
            total_sum_actual, last_row_actual, predicted_result = self.data_ratio_data()
            output_ratio = list(map(lambda x: x / total_sum_actual, last_row_actual))
        except Exception as e:
            #log('----------Error in find_ratios_Actual function ----------:{}'.format(e), 'error')
            raise e

        return output_ratio, predicted_result

    def making_ratios(self):
        '''
        With the actual ratios we split the forecasted sum
        '''
        try:
            output_ratio, predicted_result = self.find_ratios_actual()

            df = predicted_result.loc[predicted_result['ds'] == datetime.datetime.strftime(self.actual_date,"%Y-%m-%d")]

            last_row_predicted = df.iloc[-1].tolist()

            sum_row_predicted = last_row_predicted[1]

            last_predicted_ratio = self.ratios_actual(output_ratio, sum_row_predicted)

        except Exception as e:
            #log('----------Error in making_ratios function ----------:{}'.format(e), 'error')
            raise e

        return last_predicted_ratio, output_ratio, predicted_result

    def replacing_ratios(self):
        '''
        Replacing the predicted ratio to the series dataset
        '''
        try:
            last_predicted_ratio, output_ratio, predicted_result = self.making_ratios()
            series = self.making_series_dataframe()
            series.loc[str(self.actual_date)] = last_predicted_ratio

        except Exception as e:
            #log('----------Error in replacing_ratios function ----------:{}'.format(e), 'error')
            raise e

        return series, output_ratio, predicted_result

    def making_all_ratios(self):
        '''
        Assigning the result to the nan values
        '''
        try:
            series, output_ratio, predicted_result = self.replacing_ratios()
            list_dates = self.getting_dates(series)

            for i in list_dates:
                sum_row_predicted = self.getting_predicted_value(predicted_result,i)
                series.loc[i] = self.ratios_actual(output_ratio, sum_row_predicted)
        except Exception as e:
            #log('----------Error in making_all_ratios function ----------:{}'.format(e), 'error')
            raise e

        return series

    def final_result(self):
        try:
            series = self.making_all_ratios()
            # series.to_hdf(self.output_folder + "transposed_otp.h5",key="transposed_otp",mode="w")
            #self.input.save_output_to_hdf(user_id=self.user_id,table_name="transposed_otp",data=series,dataset_id=self.dataset_id)
        except Exception as e:
            #log('----------Error in Forecast Process ----------:{}'.format(e), 'error')
            raise e

        return series

    # def forecast_ratios(self):
    #     output_list, predicted_result = self.find_ratios_actual()
    #     last_row_actual = self.making_ratios()


    def ratios_actual(self, output, total_sum):
        try:
            output_ratio = list(map(lambda x: x * total_sum, output))
        except Exception as e:
            #log('----------Error in ratios_actual function ----------:{}'.format(e), 'error')
            raise e

        return output_ratio


    def making_series_dataframe(self):
        try:
            series = self.transposed
        except Exception as e:
            #log('----------Error in making_series_dataframe function ----------:{}'.format(e), 'error')
            raise e

        return series


    def getting_predicted_value(self, predicted_result, date):
        try:
            df = predicted_result.loc[predicted_result["ds"] == str(date)]
            last_row_predicted = df.iloc[-1].tolist()
            sum_row_predicted = last_row_predicted[1]

        except Exception as e:
            #log('----------Error in getting_predicted_value function ----------:{}'.format(e), 'error')
            raise e
        return sum_row_predicted

    def getting_dates(self, series):
        try:
            we = pd.isnull(series).any(1).nonzero()[0]
            output_ratio = list(map(lambda x: series.index[x], we))

        except Exception as e:
            #log('----------Error in getting_dates function ----------:{}'.format(e), 'error')
            raise e

        return output_ratio

    def check_dates(self):
        '''
        Checking for 'Month', 'Day' and 'Week' and assigning to the model for prediction and forecast
        '''
        try:
            today = datetime.strptime(str(self.actual_date), "%Y-%m-%d").date()
            if str(self.frequency) == 'D':
                last_monday = today - relativedelta(days=7)
            elif str(self.frequency) == 'MS':
                last_monday = today - relativedelta(months=1)
            elif str(self.frequency) == 'W':
                last_monday = today - relativedelta(weeks=1)
            elif str(self.frequency) == 'Q':
                last_monday = today - relativedelta(months=3)
            elif str(self.frequency) == 'Y':
                last_monday = today - relativedelta(years=1)
            date = last_monday.strftime("%Y-%m-%d")
        except Exception as e:
            #log('----------Error in check_Dates function ----------:{}'.format(e), 'error')
            raise e

        return date

In [47]:
class Forecast():
    
    @staticmethod
    def insights(node,actuals,forecasted,val,met,actual_key,previous_key,actual_date):
        
        try:
            #input = InputDataFile()
            transpose_ = pd.DataFrame(forecasted.transpose())
            transposed= transpose_[str(actual_date)]
            data = actuals[:-1]
            node[actual_key] = data[met]
            node[previous_key] = data[Int_metric_col_prev]
            node['Forecast'] = (transposed.iloc[0:]).values
            node[actual_key] = node[actual_key].astype(float)
            node[previous_key] = node[previous_key].astype(float)
            node['Forecast'] = node['Forecast'].astype(float)
            node.drop(columns=['dim_id'],inplace=True)
            node_index = node[(node[actual_key] == 0.0) & (node["Forecast"] == 0.0)].index
            node.drop(node_index,inplace=True)
            #node.to_csv
            #input.save_output_to_hdf(user_id=user_id,table_name="final_ds",data=node,dataset_id=dataset_id)
            #log('----------Created Dataframe with Actual & Forecast values----------', 'info')

        except Exception as e:
            #log('----------Error in Creating Final Dataframe----------: {}'.format(e), 'error')
            raise e
            
    @staticmethod
    def lookup(s):
        """
        This is an extremely fast approach to datetime parsing.
        For large data, the same dates are often repeated. Rather than
        re-parse these, we store all unique dates, parse them, and
        use a lookup to convert all dates.
        """

        dates = {date: pd.to_datetime(date) for date in s.unique()}
        return s.map(dates)
    
    @staticmethod
    def process(dataset,metric,date,period,actuals,actual_key,previous_key,value,actual_date,transposed_actuals,transposed):
        """
        Input: transposed dataset with combination of dimensions
        Output: Dataframe with actual and forecasted values 
        """
        try:
            dataset = dataset
            #dataset[date] = lookup(dataset[date])
            #dataset.set_index(date,inplace=True)

            #log('----------Forecast Modelling - Started -----------', 'info')
            #forecasting = Forecasting(dataset_path=dataset, dependent_metric=metrics[0],
            #                          period=value - 1,
            #                          frequency=period[0], actual_date=actual_date, output_folder=get_output_paths()[1],
            #
            transposed_actuals=transposed_actuals
            ts_data = resampling_data(dataset,metric,frequency,date)
            cleaned_ts = clean_ts(ts_data)
            forecasted_ts = forecast_prophet(cleaned_ts,value-1,frequency)
            predicted_result=data_manupulation(cleaned_ts,forecasted_ts,get_output_paths()[1])
            total_sum_actual,last_row_actual,predicted_result=data_ratio_data(predicted_result,transposed_actuals,actual_date,frequency)
            output_ratio, predicted_result = find_ratios_actual(total_sum_actual,last_row_actual,predicted_result)
            last_predicted_ratio, output_ratio, predicted_result = making_ratios(output_ratio, predicted_result)
            series, output_ratio, predicted_result = replacing_ratios(last_predicted_ratio, output_ratio, predicted_result,transposed)
            series = making_all_ratios(series, output_ratio, predicted_result)
            series_final = final_result(series)
            #forecasting.final_result()
            #log('----------Forecast Modelling - Done -----------', 'info')

            #actuals = pd.read_hdf('{}/user_{user_id}.h5'.format(output_folder_path,user_id=user_id),"actuals")
            actuals = actuals
            actuals.reset_index(inplace=True)
            #nodes = pd.read_hdf('{}/user_{user_id}.h5'.format(output_folder_path,user_id=user_id),"nodes",index=False)
            nodes = cube_dataset[1]
            nodes.reset_index(inplace=True)
            nodes = nodes.drop(columns=['index'])
            transposed_otp = series_final
            #transposed_otp =  pd.read_hdf('{}/user_{user_id}.h5'.format(output_folder_path,user_id=user_id),"transposed_otp")
            Forecast.insights(node=nodes,
                          actuals=actuals,
                          forecasted=transposed_otp,
                          val=value, met=metric, actual_key=actual_key, previous_key=previous_key,
                          actual_date=actual_date)

        except Exception as e:
            #log('----------Error in Forecast Process ----------:{}'.format(e), 'error')
            raise e
'''            
if __name__ == '__main__':
    
    forecast = Forecast()
    forecast.process()
'''

"            \nif __name__ == '__main__':\n    \n    forecast = Forecast()\n    forecast.process()\n"

In [48]:
def check_dates(actual_date,frequency):
        '''
        Checking for 'Month', 'Day' and 'Week' and assigning to the model for prediction and forecast
        '''
        try:
            today = datetime.strptime(str(actual_date), "%Y-%m-%d").date()
            if str(frequency) == 'D':
                last_monday = today - relativedelta(days=7)
            elif str(frequency) == 'MS':
                last_monday = today - relativedelta(months=1)
            elif str(frequency) == 'W':
                last_monday = today - relativedelta(weeks=1)
            elif str(frequency) == 'Q':
                last_monday = today - relativedelta(months=3)
            elif str(frequency) == 'Y':
                last_monday = today - relativedelta(years=1)
            date = last_monday.strftime("%Y-%m-%d")
        except Exception as e:
            #log('----------Error in check_Dates function ----------:{}'.format(e), 'error')
            raise e

        return date

In [49]:
def lookup(s):
        """
        This is an extremely fast approach to datetime parsing.
        For large data, the same dates are often repeated. Rather than
        re-parse these, we store all unique dates, parse them, and
        use a lookup to convert all dates.
        """

        dates = {date: pd.to_datetime(date) for date in s.unique()}
        return s.map(dates)

In [50]:
def resampling_data(dataset,dependent_metric,frequency,date):
        '''
        Resampling the orginal data by groupby for the given metric

        '''
        # data = pd.read_csv(self.dataset, index_col=0)

        try:
            dataset[date] = lookup(dataset[date])
            dataset.set_index(date,inplace=True)
            data = dataset
            new_data = data[dependent_metric].resample(frequency).sum()

        except Exception as e:
            #log('----------Error in Resampling Data function ----------:{}'.format(e), 'error')
            raise e

        return new_data

In [51]:
def clean_ts(dataset):
        """
        takes time series as input and returns cleaned time series

        *removes outliers
        *linearly interpolates missing values

        returns time series back
        """
        try:
            ts = dataset
            # find the start of the time series
            start_ts = ts[ts.notna()].index[0]
            # find the end of the time series
            end_ts = ts[ts.notna()].index[-1]
            ts = ts.loc[start_ts:end_ts]

            # sets outliers to NaN defined as a point that is 3 deviations away from rolling mean + 3*rolling standard deviation
            ts = ts.where(~(abs(ts) > (ts.rolling(center=False, window=3).mean() + (
                        ts.rolling(center=False, window=3, min_periods=3).std() * 3))), np.nan)
            # linearly interpolate any NaN values
            ts = ts.interpolate()
            # make sure any remaining null values are filled with 0's
            ts = ts.fillna(0)


        except Exception as e:
            #log('----------Error in Clean_ts function ----------:{}'.format(e), 'error')
            raise e

        return ts

In [52]:
def forecast_prophet(ts,period,frequency):
        """forecasts a time series object using FB prophet model (https://facebook.github.io/prophet/)
        Note: forecast_ts returns fitted period values as well as forecasted period values

        if return_df is True need to get results like this:

            tseries, prophet_model, forc_df = forecast_prophet(df['series1'],return_df=True)

            Args:
                ts: time series object
                forecast_periods: periods to forecast for
                changepoint_prior_scale: changepoint value (lower value means trend is more flexible, easier to change)
                freq: frequency of the data ('MS' is Monthly Start could use M for month end)
                return_df: if set to true, returns full forecast dataframe with upper and lower values

            Returns: of f
                 forecast_ts: time seriesitted and forecasted values
                 forecast_df: full forecast dataframe to be used for plotting or for upper/lower conf interval values
                 model: prophet fitted model

        """
        try:
            forecast_periods = period
            changepoint_prior_scale = .05
            freq = frequency
            return_df = False
            # find the start of the time series
            start_ts = ts[ts.notna()].index[0]
            # find the end of the time series
            end_ts = ts[ts.notna()].index[-1]
            # extract actual time series
            ts = ts.loc[start_ts:end_ts]

            model_ts = ts.reset_index()
            model_ts.columns = ['ds', 'y']

            model = Prophet(changepoint_prior_scale=changepoint_prior_scale)
            model.fit(model_ts)

            future = model.make_future_dataframe(periods=forecast_periods, freq=freq)
            forecast_df = model.predict(future)

            forecast_ts = forecast_df.set_index('ds')['yhat']

            # date range is min of current series to max of all series (we'll filter out dataframe of series we dont want eventually so that we dont have to do this)

            if return_df == False:
                return forecast_ts
        except Exception as e:
            #log('----------Error in Forecast_Prophet function ----------:{}'.format(e), 'error')
            raise e

        return forecast_ts

In [53]:
def data_manupulation(cleaned_ts,forecasted_series,output_folder):
        '''
        Storing the predicted result in a csv format
        '''
        # output_fc = []
        # data = self.clean_ts()
        # forecasted_series = dask.delayed(self.forecast_prophet)(data)
        # output_fc.append(forecasted_series)

        # total = dask.delayed(output_fc).compute()
        try:
            data = cleaned_ts

            data.to_csv("{}/actuals_out.csv".format(output_folder),header=['Actuals'])

            tseries = forecasted_series

            '''Converting the series data to dataframe with header predicted and storing in the r_outputs folder'''
            tseries.to_csv("{}/pred_out.csv".format(output_folder), header = ['Predicted'])
            predicted_result = pd.read_csv("{}/pred_out.csv".format(output_folder))

        except Exception as e:
            #log('----------Error in Data manipulation function ----------:{}'.format(e), 'error')
            raise e

        return predicted_result

In [54]:
def data_ratio_data(predicted_result,transposed_actuals,actual_date,frequency):
        '''
        getting the actual sum of the last row of the actual data to get the ratio
        '''
        try:
            predicted_result = predicted_result
            combination_data = transposed_actuals
            date = check_dates(actual_date,frequency)
            last_row_actual = combination_data.loc[combination_data.iloc[:,0] == date]
            last_row_actual = last_row_actual.iloc[-1].tolist()
            total_sum_actual = sum(last_row_actual[1:])

        except Exception as e:
            #log('----------Error in data_ratio_data function ----------:{}'.format(e), 'error')
            raise e
        return total_sum_actual, last_row_actual[1:], predicted_result

In [55]:
def find_ratios_actual(total_sum_actual,last_row_actual,predicted_result):
        '''
        Getting the actual ratio from the actual data
        '''
        try:
            output_ratio = list(map(lambda x: x / total_sum_actual, last_row_actual))
        except Exception as e:
            #log('----------Error in find_ratios_Actual function ----------:{}'.format(e), 'error')
            raise e

        return output_ratio, predicted_result

In [56]:
def ratios_actual(output, total_sum):
        try:
            output_ratio = list(map(lambda x: x * total_sum, output))
        except Exception as e:
            #log('----------Error in ratios_actual function ----------:{}'.format(e), 'error')
            raise e

        return output_ratio

In [57]:
def making_ratios(output_ratio,predicted_result):
        '''
        With the actual ratios we split the forecasted sum
        '''
        try:

            df = predicted_result.loc[predicted_result['ds'] == datetime.strftime(actual_date,"%Y-%m-%d")]

            last_row_predicted = df.iloc[-1].tolist()

            sum_row_predicted = last_row_predicted[1]

            last_predicted_ratio = ratios_actual(output_ratio, sum_row_predicted)

        except Exception as e:
            #log('----------Error in making_ratios function ----------:{}'.format(e), 'error')
            raise e

        return last_predicted_ratio, output_ratio, predicted_result

In [58]:
def making_series_dataframe(transposed):
        try:
            series = transposed
        except Exception as e:
            #log('----------Error in making_series_dataframe function ----------:{}'.format(e), 'error')
            raise e

        return series

In [59]:
def replacing_ratios(last_predicted_ratio, output_ratio, predicted_result,transposed):
        '''
        Replacing the predicted ratio to the series dataset
        '''
        try:
            series = making_series_dataframe(transposed)
            series.loc[str(actual_date)] = last_predicted_ratio

        except Exception as e:
            #log('----------Error in replacing_ratios function ----------:{}'.format(e), 'error')
            raise e

        return series, output_ratio, predicted_result

In [60]:
def getting_dates(series):
        try:
            we = pd.isnull(series).any(1).nonzero()[0]
            output_ratio = list(map(lambda x: series.index[x], we))

        except Exception as e:
            #log('----------Error in getting_dates function ----------:{}'.format(e), 'error')
            raise e

        return output_ratio

In [61]:
def getting_predicted_value(predicted_result, date):
        try:
            df = predicted_result.loc[predicted_result["ds"] == str(date)]
            last_row_predicted = df.iloc[-1].tolist()
            sum_row_predicted = last_row_predicted[1]

        except Exception as e:
            #log('----------Error in getting_predicted_value function ----------:{}'.format(e), 'error')
            raise e
        return sum_row_predicted

In [62]:
def making_all_ratios(series, output_ratio, predicted_result):
        '''
        Assigning the result to the nan values
        '''
        try:
        
            list_dates = getting_dates(series)

            for i in list_dates:
                sum_row_predicted = getting_predicted_value(predicted_result,i)
                series.loc[i] = ratios_actual(output_ratio, sum_row_predicted)
        except Exception as e:
            #log('----------Error in making_all_ratios function ----------:{}'.format(e), 'error')
            raise e

        return series

In [63]:
def final_result(series):
        try:
            series = series
            # series.to_hdf(self.output_folder + "transposed_otp.h5",key="transposed_otp",mode="w")
            #self.input.save_output_to_hdf(user_id=self.user_id,table_name="transposed_otp",data=series,dataset_id=self.dataset_id)
        except Exception as e:
            #log('----------Error in Forecast Process ----------:{}'.format(e), 'error')
            raise e

        return series

In [329]:
frequency=period[0]

In [330]:
period

['MS']

In [331]:
check_dates(actual_date,frequency)

'2019-11-01'

In [332]:
ts_data = resampling_data(dataset,metrics[0],frequency,date)

In [333]:
cleaned_ts = clean_ts(ts_data)

In [334]:
forecasted_ts = forecast_prophet(cleaned_ts,value-1,frequency)

INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

In [335]:
predicted_result=data_manupulation(cleaned_ts,forecasted_ts,get_output_paths()[1])

In [336]:
total_sum_actual,last_row_actual,predicted_result=data_ratio_data(predicted_result,transposed_actuals,actual_date,frequency)

In [337]:
output_ratio, predicted_result = find_ratios_actual(total_sum_actual,last_row_actual,predicted_result)

In [338]:
last_predicted_ratio, output_ratio, predicted_result = making_ratios(output_ratio, predicted_result)

In [339]:
series, output_ratio, predicted_result = replacing_ratios(last_predicted_ratio, output_ratio, predicted_result,transposed)

In [340]:
series = making_all_ratios(series, output_ratio, predicted_result)

In [341]:
series_final = final_result(series)

In [342]:
series_final

,1,2,3,4,5,6,7,8,9,10,...,39,40,41,42,43,44,45,46,47,48
Month,,,,,,,,,,,,,,,,,,,,,
2016-01-01,690.770000,5186.980000,992.630000,0.000000,225.360000,1112.110000,1114.820000,535.200000,1345.520000,659.480000,...,2286.000000,0.000000,306.240000,2327.890000,1003.110000,54.980000,2411.600000,5562.530000,0.000000,384.220000
2016-02-01,5303.170000,181.430000,350.480000,9819.630000,62.800000,84.010000,420.180000,233.510000,4180.600000,179.510000,...,237.620000,0.000000,1923.900000,956.190000,32.740000,218.720000,381.960000,2343.880000,176.420000,4814.830000
2016-03-01,0.000000,1828.220000,2614.450000,6776.860000,419.370000,0.000000,1370.100000,881.320000,1497.220000,514.420000,...,5079.390000,3722.410000,1047.800000,433.510000,2402.780000,476.760000,3814.090000,975.130000,1489.610000,899.060000
2016-04-01,1547.770000,11901.210000,7413.550000,0.000000,252.730000,395.120000,923.900000,387.460000,1042.540000,657.500000,...,576.390000,10194.050000,293.690000,862.750000,14.660000,1665.540000,0.000000,1444.390000,367.520000,1800.340000
2016-05-01,0.000000,4849.130000,2860.050000,9383.440000,145.420000,818.810000,768.230000,1732.110000,0.000000,98.770000,...,0.000000,2715.760000,6075.510000,13420.120000,1795.690000,699.820000,479.790000,3534.180000,0.000000,1886.970000
2016-06-01,3234.120000,3171.320000,0.000000,212.170000,47.400000,3044.960000,7708.880000,875.350000,0.000000,3010.380000,...,5012.800000,1379.910000,9322.780000,13961.770000,1032.360000,79.930000,1132.890000,976.700000,264.950000,0.000000
2016-07-01,205.980000,318.180000,1336.350000,6499.870000,269.100000,51.640000,2849.070000,987.190000,3855.280000,173.320000,...,2848.670000,0.000000,900.410000,1452.900000,5083.200000,1168.660000,1092.580000,764.410000,8332.910000,7328.820000
2016-08-01,8250.490000,3596.030000,894.880000,7050.190000,545.430000,10655.130000,0.000000,399.080000,1197.820000,1013.840000,...,2815.540000,6898.730000,1094.630000,80.580000,460.240000,620.790000,0.000000,2448.330000,2875.350000,777.730000
2016-09-01,17.440000,5362.720000,198.670000,668.380000,1428.340000,216.670000,0.000000,140.860000,0.000000,0.000000,...,0.000000,734.740000,228.650000,129.790000,344.870000,294.200000,951.730000,127.220000,1348.830000,4034.690000
2016-10-01,1818.410000,30706.840000,2161.880000,7705.120000,1148.240000,1777.790000,2316.260000,2139.970000,296.760000,2624.760000,...,26.660000,0.000000,15708.530000,63327.170000,922.350000,0.000000,0.000000,5982.260000,1331.220000,2433.950000
2016-11-01,0.000000,0.000000,0.000000,700.410000,536.230000,0.000000,2293.100000,3320.600000,287.990000,0.000000,...,5587.890000,8834.580000,1917.070000,3906.850000,5692.510000,626.870000,10806.760000,7485.800000,5062.490000,0.000000
2016-12-01,13620.810000,0.000000,605.820000,1721.240000,1529.730000,2366.960000,1779.140000,59.950000,1847.400000,36148.780000,...,1817.700000,3112.130000,2598.150000,1197.800000,67.980000,684.540000,0.000000,3616.900000,4223.430000,3663.670000
2017-01-01,1259.920000,299.650000,1358.020000,6882.220000,202.490000,364.330000,2474.620000,87.770000,0.000000,3239.710000,...,115.890000,372.550000,461.490000,1966.590000,1081.740000,3378.650000,842.320000,1013.850000,2633.710000,0.000000
2017-02-01,3709.430000,0.000000,1346.000000,0.000000,1130.110000,3864.680000,337.240000,73.120000,1412.190000,418.140000,...,402.970000,3145.700000,1374.010000,390.480000,895.370000,201.690000,7734.540000,61.520000,607.160000,350.030000
2017-03-01,0.000000,2920.420000,10.890000,897.870000,1984.980000,607.960000,425.160000,161.050000,0.000000,2563.380000,...,0.000000,8.610000,1289.370000,299.210000,0.000000,385.480000,1559.070000,190.190000,2003.240000,0.000000
2017-04-01,507.760000,2670.590000,62.600000,1365.630000,786.890000,264.020000,1285.340000,5508.490000,1209.490000,2787.230000,...,985.970000,8829.050000,0.000000,1228.700000,78.420000,530.880000,1483.050000,1222.930000,156.480000,7037.670000
2017-05-01,286.650000,4820.940000,3950.430000,18434.110000,902.380000,1238.300000,1851.270000,3376.890000,4701.360000,846.040000,...,1734.170000,2181.590000,25.380000,864.230000,51.960000,2073.090000,0.000000,638.440000,1648.020000,4559.090000
2017-06-01,371.470000,12690.110000,834.100000,125.860000,364.180000,716.690000,4934.720000,81.400000,6141.230000,1478.930000,...,0.000000,0.000000,352.460000,5028.570000,1018.290000,1381.600000,10312.210000,2133.780000,84.710000,729.140000
2017-07-01,78.620000,3397.190000,978.410000,5660.930000,142.840000,679.000000,1840.430000,2117.300000,0.000000,196.900000,...,0.000000,0.000000,1448.530000,1071.750000,0.000000,1921.390000,34.170000,3195.920000,6814.280000,3005.300000
2017-08-01,965.320000,8.120000,5376.700000,284.480000,1320.190000,1603.430000,1321.830000,2102.510000,696.040000,805.140000,...,1005.380000,92.370000,5343.590000,1387.670000,854.430000,2615.970000,1498.630000,613.280000,56.820000,2331.040000
2017-09-01,1383.220000,2615.600000,1467.010000,0.000000,73.540000,4558.870000,2240.550000,715.860000,4431.340000,274.010000,...,668.280000,1279.560000,1128.470000,1248.470000,647.410000,3322.180000,247.400000,540.090000,2923.860000,2934.030000
2017-10-01,2254.480000,3235.260000,321.080000,1047.190000,432.800000,1127.210000,4256.420000,2261.390000,4134.870000,13902.440000,...,0.000000,68.470000,2389.460000,1947.800000,1272.640000,6932.900000,868.920000,1116.280000,0.000000,444.340000
2017-11-01,16.730000,6329.610000,0.000000,1775.810000,2027.140000,7383.280000,7998.160000,12744.250000,12468.040000,48941.130000,...,7582.990000,4792.930000,9771.950000,1746.000000,843.380000,1486.970000,1120.750000,4269.390000,695.070000,4611.170000
2017-12-01,13123.740000,7775.950000,122.400000,401.790000,6580.230000,187.600000,388.420000,672.600000,215.420000,1102.450000,...,521.860000,510.460000,1271.770000,1718.490000,121.580000,718.030000,7966.580000,0.000000,1129.610000,597.630000
2018-01-01,726.980000,4469.730000,592.860000,31076.400000,1044.670000,382.790000,3795.690000,4018.310000,8116.600000,896.090000,...,1630.340000,1734.250000,615.980000,261.320000,633.640000,322.620000,3122.890000,526.160000,0.000000,197.720000
2018-02-01,5586.940000,801.040000,0.000000,6003.180000,2027.740000,0.000000,1992.230000,759.550000,512.230000,32.540000,...,25.770000,0.000000,2293.240000,5224.590000,531.160000,152.290000,553.650000,816.630000,0.000000,3144.120000
2018-03-01,517.130000,2497.940000,0.000000,2151.570000,1073.600000,333.430000,4094.100000,166.980000,0.000000,0.000000,...,0.000000,3738.530000,183.060000,1058.980000,2550.300000,586.780000,442.970000,4108.300000,9123.920000,1347.500000
2018-04-01,2128.820000,15.130000,3490.500000,0.000000,3426.250000,131.760000,420.630000,3097.280000,2056.210000,8308.840000,...,75.830000,10.820000,644.990000,221.210000,432.170000,372.500000,3442.460000,18072.540000,1982.760000,305.150000
2018-05-01,4603.290000,0.000000,425.880000,730.270000,1952.110000,798.280000,1840.530000,806.310000,1782.150000,1985.070000,...,161.820000,0.000000,1021.750000,3638.280000,128.870000,820.990000,0.000000,2043.690000,321.290000,9070.980000
2018-06-01,43.470000,544.610000,385.370000,267.850000,15761.910000,1833.980000,1991.000000,4390.660000,1625.940000,5100.050000,...,0.000000,410.350000,1110.830000,6222.840000,671.790000,1410.780000,242.280000,670.230000,2434.120000,579.550000
2018-07-01,599.560000,0.000000,419.590000,5603.680000,643.740000,80.360000,160.930000,687.110000,570.010000,730.810000,...,239.350000,3572.030000,2725.510000,21038.960000,828.580000,5822.630000,0.000000,305.670000,97.710000,769.090000
2018-08-01,0.000000,12784.190000,0.000000,8555.370000,0.000000,756.800000,2548.730000,367.320000,246.780000,2417.560000,...,354.250000,2265.480000,6489.900000,1926.560000,93.550000,617.360000,926.530000,4198.660000,0.000000,1332.180000
2018-09-01,334.170000,2558.990000,0.000000,190.900000,3671.820000,4933.880000,405.770000,1235.740000,2839.990000,0.000000,...,0.000000,1252.220000,320.200000,433.790000,4428.800000,730.090000,0.000000,0.000000,145.750000,21650.820000
2018-10-01,440.010000,0.000000,10214.060000,3464.810000,1353.670000,3212.820000,986.810000,879.460000,952.900000,1931.000000,...,3630.340000,4776.610000,3314.660000,285.090000,817.220000,3645.500000,1587.430000,7668.720000,2485.800000,1617.680000
2018-11-01,38312.010000,4741.040000,14741.010000,179.640000,1096.790000,1064.900000,2231.830000,29163.940000,13444.850000,1573.310000,...,5941.600000,15397.730000,18412.000000,1047.860000,257.410000,3468.320000,7815.800000,4902.940000,11047.440000,23733.490000
2018-12-01,18707.270000,604.310000,0.000000,14737.540000,2258.410000,7344.680000,814.850000,6505.090000,1272.160000,4421.180000,...,1068.220000,5938.870000,2722.530000,4466.560000,35.010000,9909.340000,5547.740000,0.000000,0.000000,0.000000
2019-01-01,7368.240000,69.370000,557.010000,0.000000,1223.120000,3709.310000,232.890000,2682.700000,545.670000,0.000000,...,3997.230000,614.200000,510.780000,437.930000,1472.290000,775.010000,303.000000,9387.750000,1925.930000,8166.280000
2019-02-01,20.510000,4970.500000,3049.630000,7748.360000,306.750000,40.940000,296.100000,373.810000,768.280000,9417.880000,...,1242.080000,1469.140000,411.980000,7701.000000,2555.280000,2247.750000,519.300000,4339.030000,280.710000,1543.110000
2019-03-01,1517.870000,2160.180000,1367.440000,14375.080000,2611.560000,2628.620000,973.590000,1324.690000,1123.240000,408.870000,...,3441.730000,0.000000,2866.160000,180.480000,696.250000,916.510000,2660.110000,20902.970000,4754.090000,3271.720000
2019-04-01,0.000000,4995.780000,3176.010000,6561.580000,230.920000,4807.700000,4390.730000,2182.520000,750.550000,1206.410000,...,607.540000,601.620000,810.560000,14122.210000,1371.350000,923.520000,94.730000,741.930000,1052.510000,2125.580000
2019-05-01,854.520000,222.620000,0.000000,0.000000,340.100000,2276.780000,2317.510000,653.370000,2630.830000,1931.050000,...,267.700000,1928.230000,5428.600000,2193.690000,195.900000,5332.130000,2382.250000,2551.870000,88.350000,750.960000
2019-06-01,1362.330000,6550.670000,1241.620000,4607.850000,1641.120000,841.960000,602.590000,2752.310000,1066.810000,1479.940000,...,0.000000,1386.390000,803.560000,5491.940000,6218.110000,613.810000,5096.230000,608.170000,413.090000,417.130000
2019-07-01,9271.430000,11123.070000,403.860000,13376.030000,878.750000,1223.320000,759.160000,790.010000,3544.540000,3914.360000,...,416.730000,1121.390000,605.270000,2609.100000,651.850000,3613.530000,1250.190000,925.980000,2469.010000,1855.970000
2019-08-01,7011.800000,4614.370000,439.450000,7890.880000,24921.410000,5763.370000,4151.100000,3746.670000,9555.440000,84.680000,...,23147.670000,5959.310000,3955.980000,3248.880000,2121.460000,1988.060000,684.810000,2297.450000,4410.050000,30036.200000
2019-09-01,3183.700000,3850.850000,4912.130000,2826.370000,4273.430000,4301.580000,715.860000,2222.280000,14974.170000,1800.550000,...,4983.310000,4996.960000,628.250000,383.730000,125.600000,4580.810000,3897.070000,0.000000,97.070000,5385.690000
2019-10-01,1626.070000,1830.740000,1384.620000,21675.390000,6473.950000,2953.670000,1108.600000,14212.990000,2019.340000,13872.760000,...,1356.750000,5435.200000,3768.510000,2230.440000,2484.760000,1847.320000,492.260000,17028.260000,3840.560000,12689.730000
2019-11-01,5731.020000,1737.690000,4198.210000,3830.330000,385.830000,5615.070000,1390.900000,1155.720000,1725.800000,2390.950000,...,680.610000,169.130000,20582.880000,14820.200000,2743.560000,456.270000,1170.190000,90.880000,229.400000,6388.070000
2019-12-01,4936.556053,1496.802330,3616.232187,3299.349635,332.344229,4836.679648,1198.086172,995.508053,1486.560584,2059.504014,...,586.260284,145.684315,17729.573594,12765.746416,2363.233373,393.019468,1007.972146,78.281739,197.599373,5502.522348
2020-01-01,3377.224951,1024.000967,2473.957439,2257.169936,227.365234,3308.896934,819.641562,681.052661,1016.994326,1408.959661,...,401.075738,99.666387,12129.257252,8733.375423,1616.748726,268.874725,689.579667,53.554551,135.182813,3764.417048
2020-02-01,3248.254723,984.896188,2379.481394,2170.972621,218.682559,3182.536031,788.340905,655.044468,978.157117,1355.153992,...,385.759367,95.860304,11666.062441,8399.863313,1555.007961,258.606877,663.245844,51.509398,130.020421,3620.660641
2020-03-01,3468.160171,1051.573236,2540.571262,2317.946535,233.487274,3397.992353,841.711246,699.390697,1044.377933,1446.897334,...,411.875110,102.350006,12455.849853,8968.530448,1660.281332,276.114451,708.147302,54.996562,138.822748,3865.777810
2020-04-01,3170.609913,961.353675,2322.603349,2119.078675,213.455270,3106.462131,769.496761,639.386582,954.775692,1322.761004,...,376.538350,93.568903,11387.202167,8199.076784,1517.837755,252.425255,647.391915,50.278141,126.912472,3534.114009
2020-05-01,3296.628367,999.563454,2414.917097,2203.303170,221.939223,3229.930980,800.081032,664.799519,992.724024,1375.335210,...,391.504171,97.287875,11839.795724,8524.955720,1578.165444,262.458101,673.123030,52.276486,131.956711,3674.580228
2020-06-01,3378.597274,1024.417066,2474.962722,2258.087128,227.457623,3310.241492,819.974620,681.329404,1017.407577,1409.532186,...,401.238713,99.706886,12134.185930,8736.924197,1617.405686,268.983982,689.859875,53.576313,135.237744,3765.946705
2020-07-01,3615.454571,1096.234048,2648.470522,2416.390818,243.403589,3542.306692,877.459119,729.094150,1088.733157,1508.347747,...,429.367641,106.696859,12984.855675,9349.428169,1730.794264,287.841162,738.222652,57.332292,144.718615,4029.959218
2020-08-01,4112.881365,1247.057735,3012.856293,2748.846257,276.891900,4029.669546,998.182992,829.405455,1238.524845,1715.871468,...,488.441531,121.376583,14771.357207,10635.754961,1968.922949,327.443349,839.789888,65.220268,164.629505,4584.415001
2020-09-01,4585.906628,1390.482687,3359.366930,3064.992922,308.737424,4493.124562,1112.984692,924.795937,1380.968424,1913.215004,...,544.617522,135.336186,16470.220976,11858.980323,2195.370107,365.102829,936.374690,72.721295,183.563655,5111.671666
2020-10-01,6018.262150,1824.784062,4408.626796,4022.308430,405.168030,5896.500666,1460.612740,1213.645378,1812.298128,2510.785844,...,714.722580,177.606897,21614.506255,15562.997287,2881.068868,479.138525,1228.840623,95.434960,240.897665,6708.243889
2020-11-01,6542.490941,1983.734324,4792.646142,4372.676998,440.460735,6410.123261,1587.841370,1319.361585,1970.160786,2729.491210,...,776.979449,193.077584,23497.266794,16918.633026,3132.028233,520.874529,1335.880432,103.747950,261.881379,7292.574464
2020-12-01,5370.921616,1628.505359,3934.422989,3589.658070,361.587063,5262.257127,1303.505288,1083.102402,1617.362446,2240.718936,...,637.845089,158.503019,19289.591575,13888.999259,2571.173318,427.601091,1096.663206,85.169718,214.986062,5986.687055

In [64]:
forecast = Forecast()
#forecast.process(dataset,metrics[0],date,period[0],actual_key,previous_key,value,actual_date,transposed_actuals,transposed)
metric=metrics[0]
#period=period[0]
frequency=period[0]
forecast.process(dataset, metric, date, period,actuals,actual_key,previous_key,value,actual_date,transposed_actuals,transposed)

INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.